.combinedfle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #f8f8f8;
  flex-wrap: wrap;
  /* background-color: red; */
}
.totalflex {
  background-color: #f8f8f8;
  display: flex;
  height: auto;
  margin-top: 10px;
  justify-content: center;
}
.newneededone {
  width: 50%;
}

.totalfle {
  background-color: white;
  display: flex;
  /* height: 300px; */
  flex-direction: column;
  /* min-width: 600px; */
  overflow-x:auto;
  /* background-color: red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}
.totalcartitems {
  height: auto;
  width: 50%;
}
.cartitems {
  display: flex;
  background-color: white;
  /* margin-top: 10px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

  padding: 10px;
  justify-content: space-between;
  /* background-color: red; */
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nedflex {
  display: flex;
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  vertical-align: middle;
  height: 100%;
}
.productheading {
  font-size: smaller;
  font-weight: 600;
  padding-bottom: 59px;
  text-align: center;
}
.cartitemname {
  font-weight: bold;
  font-size: small;
}
.hrtag {
  width: 50%;
}
.last {
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  /* padding-bottom: 30px; */
}
.continuebutton {
  background-color: red;
  padding: 15px;
  color: white;
  font-size: medium;
  cursor: pointer;
}
.return {
  color: red;
  font-size: smaller;
  cursor: pointer;
}
.summary {

  width: 25%;
  height: 500px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 1150px) {
  .newneededone{
    width: 100%;
    margin: 10px;
  }
  .summary{
    width: 100%;
    margin-right: 10px;
  }
}
@media screen and (min-width:1150px) and (max-width:1300px) {
  .newneededone{
    width: 75%;
    margin: 10px;
  }
  .summary{
    width:75%;
    margin-right: 10px;
  }
  
}
.summarytitle {
  font-size: larger;
  font-weight: bolder;
  padding: 30px;
  padding-left: 10px;
}
.summaryflex {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}
.combinedflex {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.summaryitemname {
  font-size: small;
  font-weight: bold;
}
.itemtotal {
  font-size: small;
  font-weight: bold;
}
.summaryproduct {
  font-size: 15px;
  font-weight: bolder;
}
.total {
  font-size: 15px;
  font-weight: bolder;
}
.newflex {
  display: flex;
  background-color: red;
  justify-content: center;
}
.onlyflex {
  display: flex;
  flex-direction: column;
}

th,
td {
  /* border:1px solid black; */
  padding: 0;
  margin: 0;
}
table{
  min-width: 800px;
}
.tejesh {
  display: flex;
  align-items: center;
  /* background-color: black; */
  justify-content: space-between;
  min-width: 400px;
  padding: 20px;
}

